[user]
	name = Elliot Hatch
	email = elhatch@microsoft.com
[alias]
	st = status -s -b
	lg = log --oneline

[push]
	default = simple
[diff]
	tool = gvimdiff
[difftool "gvimdiff"]
	cmd = gvim -f -d "$LOCAL" "$REMOTE"
[merge]
	conflictstyle = diff3
	tool = gvimdiff
[mergetool "gvimdiff"]
	cmd = gvim -f -d -c \"wincmd J\" "$MERGED" "$LOCAL" "$BASE" "$REMOTE"
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
