[user]
	name = Elliot Hatch
	email = elliot.hatch@gmail.com
[alias]
	st = status -s -b
	lg = log --oneline

[push]
	default = simple
[diff]
	tool = gvim -d
[merge]
	conflictstyle = diff3
	tool = gvim -d
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
