[user]
	name = Elliot Hatch
	email = elliot.hatch@gmail.com
[alias]
	st = status -s -b
	lg = log --oneline
	df = "!git diff --name-only $1 $2 -- | fzf -0 --ansi --preview=\"git diff --color $1 $2 -- {}\" | xargs -r git difftool --no-prompt $1 $2 --"
	a = "!git status --porcelain | sed '/^. /d' | fzf --reverse -0 -m --ansi --preview=\"echo {} | sed 's/^...//' | xargs -r git diff --color --\" | sed 's/^...//' | xargs -r git add --"
	r = "!git status --porcelain | sed '/^[ ?]/d' | fzf --reverse -0 -m --ansi --preview=\"echo {} | sed 's/^...//' | xargs -r git diff --cached --color --\" | sed 's/^...//' | xargs -r git reset --"
	l = "!git log -200 --color --pretty=\"format:%s - %Cgreen%an%Creset - %Cblue%H%Creset\" \"$@\" | fzf --no-sort --reverse -0 -m --ansi --preview=\"echo {} | sed 's/.*- //' | xargs -r git show --color --stat\" | sed 's/.*- //' | xargs -r git show"
	co = "!git branch --color --all | fzf -0 --ansi --preview=\"echo {} | sed 's/^[*\\s]*//' | sed 's/->.*//' | xargs git log --oneline --graph --color\" | sed 's/^[*\\s]*//' | sed 's/->.*//' | xargs -r -I % git checkout % --"


[push]
	default = simple
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -f -d "$LOCAL" "$REMOTE"
[merge]
	conflictstyle = diff3
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -f -d -c \"wincmd J\" "$MERGED" "$LOCAL" "$BASE" "$REMOTE"
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[pull]
	ff = only
[init]
	defaultBranch = main
