# nvidia proprietary drivers
xrandr  --output DP-0 --primary --mode 3440x1440 --pos 0x0 --rate 59.97 --rotate normal --output DVI-D-0 --mode 1680x1050 --pos 3440x152 --rate 59.95 --rotate normal

# nouveau
# xrandr --output DP-3 --mode 3440x1440 --rate 59.97 --pos 0x0 --rotate normal --primary --output DVI-D-1 --mode 1680x1050 --pos 3440x152 --rate 59.95 --rotate normal

# inputs
xinput set-prop 'Logitech G Pro Gaming Mouse' 'libinput Accel Profile Enabled' 0, 1
xinput set-prop 'Logitech G Pro Gaming Mouse' 'libinput Accel Speed' 0.09

xsetwacom set 'Wacom Intuos S 2 Pen stylus' MapToOutput 3440x1440+0+0
xsetwacom set 'Wacom Intuos S 2 Pen stylus' Area 0 0 15200 6263

xinput set-prop 'Logitech G Pro Gaming Mouse' 'libinput Accel Speed' 0.09

export PATH=$PATH:~/.local/bin
