[Unit]
Description=Makes a backup snapshot of the subvolume and deletes expired backups

[Service]
Type=oneshot
ExecStart=/home/ellioth/backup-btrfs.py %i /srv/backup/%i
