[Unit]
Description=Makes a backup snapshot of the samba subvolume and deletes expired backups

[Service]
Type=oneshot
ExecStart=backup-btrfs /srv/samba /srv/backup/samba
