[Unit]
Description=Updates the Digital Ocean DNS for icebox.fresh4less.org if it has changed

[Service]
Type=oneshot
ExecStart=/home/ellioth/build/digitalocean-dynamic-dns-ip/digitalocean-dynamic-ip
