[Unit]
Description=rclone samba to azure cloud storage

[Service]
Type=oneshot
ExecStart=rclone sync -P --exclude 'fresh4less/Video/**' --exclude 'node_modules/' /srv/samba azure-icebox-backup:/srv/samba
