[Unit]
Description=CSGO Game Server

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/srv/data/csgo-ds:/srv/data/csgo-ds/bin/"
WorkingDirectory=/srv/data/csgo-ds
User=csgo-server
Group=csgo-server
ExecStart=/srv/data/csgo-ds/start.sh

[Install]
WantedBy=multi-user.target
